section.about#about
    .about__container.container
        h2.title-section.about__title Обо мне

        ul.about__info.about-info

            li.about-info__item
                p.about-info__title 55+
                p.about-info__text Рализованных <br> проектов

            li.about-info__item
                p.about-info__title С 2018 г.
                p.about-info__text Создаю элегантный <br> и функциональный <br> интерьер

        img.about__img(src="./assets/img/about.jpg")


        .about__text.about__text--desktop
            p Более 6 лет создаем интерьер передающий
            p черты его владельца, учитывая образ жизни,
            p увлечения и пожелания всех членов семьи,
            p красивая и удобная обстановка в доме
            p положительно сказывается на настроении,
            p здоровье и финансовом успехе

        .about__text.about__text--mobile
            p Более 6 лет создаем интерьер
            p передающий черты его
            p владельца, учитывая образ
            p жизни, увлечения и пожелания
            p всех членов семьи, красивая и
            p удобная обстановка в доме
            p положительно сказывается на
            p настроении, здоровье и
            p финансовом успехе
