section.about#about
    .about__container.container
        h2.title-section.about__title Обо мне

        ul.about__info.about-info

            li.about-info__item
                p.about-info__title 55+
                p.about-info__text Рализованных <br> проектов

            li.about-info__item
                p.about-info__title С 2018 г.
                p.about-info__text Создаю элегантный <br> и функциональный <br> интерьер

        img.about__img(src="./assets/img/about.jpg")



        .paragraph-wrapper
            #paragraph Более 6 лет создаем интерьер, передающий черты его владельца, учитывая образ жизни, увлечения и пожелания всех членов семьи. Красивая и удобная обстановка в доме положительно сказывается на настроении, здоровье и финансовом успехе.