.about

  &__container
    display: grid
    grid-template-columns: 1.45fr 1.55fr
    grid-gap: 40px 72px
    justify-content: space-between
    @media (max-width: $width-mobile)
      grid-gap: 32px 16px

  &__title
    margin-bottom: 0


  &-info
    grid-column: 1 / 2
    display: flex
    flex-direction: column
    gap: 64px
    @media (min-width: $width-mobile)
      margin-left: auto
    @media (max-width: $width-mobile)
      gap: 32px

    &__title
      font-size: 32px
      @include fontSize(20, 32)
      font-weight: 500
      @media (min-width: $width-mobile)
        margin-bottom: 20px

    &__text
      @include fontSize(14, 16)


  &__img
    grid-column: 2 / 3
    grid-row: 1 / 3
    border-radius: 8px
    object-fit: cover
    width: 100%
    max-width: 600px
    height: 400px
    @media (max-width: $width-tablet)
      height: 350px
    @media (max-width: $width-mobile)
      border-radius: 6px
      height: 250px
      grid-row: 2 / 3
    @media (max-width: 480px)
      height: 100%


  &__text
    grid-column: 1 / -1
    margin: 250px auto
    @include fontSize(18, 32)

    &--mobile
      display: none
    @media (max-width: $width-mobile)
      margin: 200px 0
      &--desktop
        display: none
      &--mobile
        display: block


  .paragraph-wrapper
    height: 100vh
    grid-column: 1 / -1
    display: flex
    align-items: center
    //margin: 250px auto
    @media (max-width: $width-tablet)
      height: 100vh
    @media (max-width: $width-mobile)
      height: 80vh

    #paragraph
      margin: 0 auto
      max-width: 850px
      color: white
      //position: sticky
      //top: 40%
      @include fontSize(20, 32)


      span
        background: linear-gradient(to right, #fff 50%, rgba(#fff, 0.3) 50%)
        background-size: 200% 100%
        background-position-x: 100%
        color: transparent
        background-clip: text




