.hidden
  display: none !important

.visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden


.title-section
  font-size: 24px
  @media (max-width: $width-mobile)
    margin-bottom: 24px
    font-size: 20px

.flex-center
  display: flex
  align-items: center
  justify-content: center


.button
  position: relative
  display: flex
  align-items: center
  justify-content: center
  font-weight: 500
  padding: 14px 32px
  min-height: 42px
  transition: $transition
  line-height: 1
  width: fit-content
  font-size: 14px
  border-radius: 32px
  user-select: none
  overflow: hidden
  white-space: nowrap
  &__text
    position: relative
    z-index: 1
  &__hover
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    transition: $transition
    border-radius: 32px
    transform: translateX(-100%)

  &.button--fill
    background-color: $creme
    color: $black
    &:hover
      color: #FFFFFF
    &:hover .button__hover
      transform: translateX(0)
      background-color: #A2998E

  &.button--outline
    background-color: transparent
    color: #FFFFFF
    border: 1px solid currentColor
    &:hover
      color: #24231F
      border-color: #FFFFFF
    &:hover .button__hover
      transform: translateX(0)
      background-color: #FFFFFF



.scroll-margin
  scroll-margin: 120px
  @media (max-width: $width-mobile)
    scroll-margin: 70px

.desktop-hidden
  @media (min-width: $width-mobile)
    display: none

.mobile-hidden
  @media (max-width: $width-mobile)
    display: none

.tablet-hidden
  @media (min-width: $width-tablet)
    display: none
