section.faq#faq
    .faq__container.container

        h2.title-section Часто задаваемые вопросы

        ol.faq__list

            li.faq__item
                p.faq__title Какие услуги помимо дизайн проекта мы предоставляем?
                .faq__content
                    ul
                        li -Подбор квартиры с дизайнером. На этапе покупки квартиры мы можем рассмотреть варианты планировочного решения по вашим запросам, что поможет выбрать наиболее подходящий вам вариант.
                        li -Home Staging - это дизайн-проект квартиры или дома под аренду или продажу. Проект будет отличаться по составу и цене, а так же будет изучаться ЦА для объекта.
                        li -Реализация проекта. Авторский надзор и комплектация, а так же можем провести ремонтные работы с помощью проверенных подрядчиков.
                        li -Любые консультационные услуги в сфере дизайна и ремонта помещений.


            li.faq__item
                p.faq__title Какие сроки отводятся на дизайн-проект?
                p.faq__content Для детей младше 8 лет посещение крыши запрещено. Дети старше 8 лет сопровождаются взрослыми, которые несут за них полную ответственность.

            li.faq__item
                p.faq__title В проекте будет законная перепланировка?
                p.faq__content Все крыши оборудованы специальным нескользящим покрытием, а так же имеются ограждения по краям крыши.

            li.faq__item
                p.faq__title Какая гарантия, что все идеи из дизайн-проекта возможно реализовать?
                .faq__content
                    p Включая подъем и спуск, прогулка длится около часа. Она начинается с экскурсионной части, когда гид рассказывает истории, которые, на его взгляд, будут интересны конкретной группе.
                    p После этого группа фотографируется и наслаждается видом.

            li.faq__item
                p.faq__title Можно начинать проект без получения ключей от квартиры?
                p.faq__content Маленький дождь не помеха для прогулки по крышам, но если начнётся ливень, то экскурсия будет перенесена на ближайшее или удобное для Вас время.

            li.faq__actions
                p Не нашли ответа на свой вопрос? <br> Оставьте заявку и мы с вами свяжемся
                +button("Заказать звонок", 'outline')