section.portfolio-hero.bg-fixed(style="background-image: url('./assets/img/portfolio-inner/mozhaisk/hero-desktop.jpg')")
    .portfolio-hero__container.container

        h1.portfolio-hero__title Загородный дом в Можайске
        span.portfolio-hero__area 150 м²
        p.portfolio-hero__desk Для молодой пары без детей, но с породистыми котиками. Проект дома выполнен в современном стиле, реализация проекта выполнялась заказчиками. Заказчики мечтали сделать дом как дорогой отель за границей, дом для мероприятий и фотосессий. Стиль жизни заказчиков можно прочитать по стилю в этом интерьере.

