section.portfolio-hero.bg-fixed(style="background-image: url('./assets/img/portfolio-inner/sampo/hero-desktop.jpg')")
    .portfolio-hero__container.container

        h1.portfolio-hero__title САМПО
        span.portfolio-hero__area 61 м²
        p.portfolio-hero__desk Проект весьма оригинален, используются яркие цветовые решения, рельефы и фактуры. В этой квартире всегда будет хорошее настроение у всех, и у старшего поколения и у младшего, которое часто будет гостить у бабушки с дедушкой. Так же как и во всех проектах использовались современные материалы и решения. Стены под покраску, на полу инженерная доска и керамогранит. Потолок мы использовали комбинированный, чтобы воплотить яркие решения на потолке.


