section.portfolio-hero.bg-fixed(style="background-image: url('./assets/img/portfolio-inner/st-bakhrushin/hero-desktop.jpg')")
    .portfolio-hero__container.container

        h1.portfolio-hero__title ул. Бахрушина
        span.portfolio-hero__area 130 м²
        p.portfolio-hero__desk Дом постройки 1917 года. Заказчик: юрист в айти-компании. Задача — сделать квартиру для активного, смелого, но с консервативными убеждениями молодого человека. Проект получился очень интересный, сейчас как раз приступаем к воплощению всего в жизнь

