section.portfolio-hero.bg-fixed(style="background-image: url('./assets/img/portfolio-inner/zhk-now/hero-desktop.jpg')")
    .portfolio-hero__container.container

        h1.portfolio-hero__title ЖК Now
        span.portfolio-hero__area 41 м²
        p.portfolio-hero__desk Квартира для молодого человека, работающего в айти-компании, не женатого с планами через лет 5 поменять квартиру. <br> Проект выполнен в современном стиле, стены сделаны под покраску, с элементами декора. Покрытие пола кварцвинил + керамогранит. В интерьере использованы современные двери скрытого типа под окрас. Потолки натяжные с элементами подсветки. Бюджет ремонта 4 млн.руб (под ключ)


