section.portfolio-hero.bg-fixed(style="background-image: url('./assets/img/portfolio-inner/nagatino-i-land/hero-desktop.jpg')")
    .portfolio-hero__container.container

        h1.portfolio-hero__title ЖК Nagatino i-Land
        span.portfolio-hero__area 81 м²
        p.portfolio-hero__desk Квартира для современной семьи с 1 ребенком. <br> Задача была использовать современные материалы, но более классический стиль. Поэтому было выбрано такое стилистическое решение, где современные предметы интерьера сочетаются с классической отделкой стен, пола и потолка. На стенах использованы молдинги и карнизы для предания ноток классики. Так же было использовано много технически сложных решений, это например добавить дополнительный гостевой санузел, где была применена система сололифт. Так же были выполнены грандиозные работы по шумоизоляции. Этот обьект был сделан под ключ, с узаконенной планировкой в БТИ.