section.portfolio-hero.bg-fixed(style="background-image: url('./assets/img/portfolio-inner/zhk-scandinavia/hero-desktop.jpg')")
    .portfolio-hero__container.container

        h1.portfolio-hero__title ЖК Скандинавия
        span.portfolio-hero__area 85 м²
        p.portfolio-hero__desk Интерьер этой квартиры в очень смешанном стиле, такой был запрос у заказчиков, основное помещение с элементами стиля ЛОфт, с использованием клинкерного кирпича, необычным решением каминной зоны и брутальной кухней, из которой не хочется выходить. Квартира для проживания молодой пары, квартира гостевого характера.


