section.hero.bg-fixed
    .hero__slider.swiper
        .swiper-wrapper
            .swiper-slide(data-src="#1")
                img(src='https://mebel-complect.ru/wp-content/uploads/2/6/8/268c5e8fe2565d2f4b03929e4c63de9c.jpeg', alt="")
                //img(src='./assets/img/hero-1.jpg', alt="")
            .swiper-slide(data-src="#2")
                img(src='https://alpha-house.ru/wp-content/uploads/9/d/b/9db4d1cc85c2ee2e2061050680f1e9db.jpeg', alt)
                //img(src='./assets/img/hero-2.jpg', alt="")
            .swiper-slide(data-src="#3")
                img(src='https://i.pinimg.com/736x/2d/94/bb/2d94bb7ce010b7a74951836d162b4b7b.jpg', alt)
                //img(src='./assets/img/hero-3.jpg', alt="")

    .hero__container.container
        .hero__main
            .hero__content
                h2.hero__suptitle
                    | Ваш дом должен рассказывать
                    br
                    | о том, кто вы и хранить то,
                    br
                    | что вы любите

                .hero__title
                    h1
                        | Разрабатываем дизайн
                        br
                        | интерьера квартир, домов
                        br
                        | и общественных помещений

                    .hero__actions
                        +button("Заказать консультацию", "fill")
                        +button("Рассчитать стоимость", "outline")

            #swiperPagination.swiper-pagination
            #swiperScrollbar.swiper-scrollbar.second

        a.hero__link(href="##") Посмотреть проект


