section.hero.bg-fixed#hero
    .hero__slider.swiper
        .swiper-wrapper
            .swiper-slide(data-src="#1")
                img(src='./assets/img/hero/hero-01.jpg', alt="")
            .swiper-slide(data-src="#2")
                img(src='./assets/img/hero/hero-02.jpg', alt="")
            .swiper-slide(data-src="#3")
                img(src='./assets/img/hero/hero-03.jpg', alt="")

    .hero__container.container
        .hero__main
            .hero__content
                h2.hero__suptitle
                    | Ваш дом должен рассказывать
                    br
                    | о том, кто вы и хранить то,
                    br
                    | что вы любите

                .hero__title
                    h1
                        | Разрабатываем дизайн
                        br
                        | интерьера квартир, домов
                        br
                        | и общественных помещений

                    .hero__actions
                        +button("Заказать консультацию", "fill", "js-popup-open")
                        +button("Рассчитать стоимость", "outline", "js-quiz-open")

            #swiperPagination.swiper-pagination
            #swiperScrollbar.swiper-scrollbar.second

        a.hero__link(href="##") Посмотреть проект


