section.portfolio#portfolio
    .portfolio__container.container
        h2.title-section.portfolio__title Портфолио

        .portfolio__list

            a.portfolio__item.portfolio-item(href="zhk-nagatino-i-land.html" data-aos="fade-up" data-aos-delay="100")
                picture
                    source(srcset="./assets/img/portfolio-main/mobile/01.jpg" media="(max-width: 767px)")
                    img.portfolio-item__img(src="./assets/img/portfolio-main/desktop/01.jpg")
                h3.portfolio-item__title ЖК Nagatino i-Land
                span.portfolio-item__area 81 м²

            a.portfolio__item.portfolio-item(href="zhk-now.html" data-aos="fade-up" data-aos-delay="200")
                picture
                    source(srcset="./assets/img/portfolio-main/mobile/02.jpg" media="(max-width: 767px)")
                    img.portfolio-item__img(src="./assets/img/portfolio-main/desktop/02.jpg")
                h3.portfolio-item__title ЖК Now
                span.portfolio-item__area 41 м²

            a.portfolio__item.portfolio-item(href="sampo.html" data-aos="fade-up" data-aos-delay="100")
                picture
                    source(srcset="./assets/img/portfolio-main/mobile/03.jpg" media="(max-width: 767px)")
                    img.portfolio-item__img(src="./assets/img/portfolio-main/desktop/03.jpg")
                h3.portfolio-item__title САМПО
                span.portfolio-item__area 61 м²

            a.portfolio__item.portfolio-item(href="country-house-in-mozhaisk.html" data-aos="fade-up" data-aos-delay="200")
                picture
                    source(srcset="./assets/img/portfolio-main/mobile/06.jpg" media="(max-width: 767px)")
                    img.portfolio-item__img(src="./assets/img/portfolio-main/desktop/06.jpg")
                h3.portfolio-item__title Загородный дом в Можайске
                span.portfolio-item__area 150 м²

        +button-link("portfolio.html", "Смотреть портфолио", "outline", "portfolio__link")