section.portfolio#portfolio
    .portfolio__container.container
        h2.title-section Портфолио

        .portfolio__list

            article.portfolio__item.portfolio-item
                img.portfolio-item__img(src="https://intererexpert.ru/wp-content/uploads/2022/12/novinki-dizajna-interera-kvartir-2023-goda-1-2.jpg")
                h3.portfolio-item__title ЖК Nagatino i-Land
                span.portfolio-item__area 81 м²

            article.portfolio__item.portfolio-item
                img.portfolio-item__img(src="https://realwood.ru/upload/medialibrary/f68/uiga2muc1fvw466pdlb8ph0ua6rbbdl4/trendi2023_4.jpg")
                h3.portfolio-item__title ЖК Now
                span.portfolio-item__area 41 м²

            article.portfolio__item.portfolio-item
                img.portfolio-item__img(src="https://almode.top/uploads/posts/2023-02/thumbs/1676367987_almode-ru-p-modnie-dredi-2023-22.jpg")
                h3.portfolio-item__title САМПО
                span.portfolio-item__area 61 м²

            article.portfolio__item.portfolio-item
                img.portfolio-item__img(src="https://www.ivd.ru/images/cache/2023/3/22/fit_960_530_false_crop_1250_703_0_64_q90_2840292_24ce50fa1a72f3cef40996c94.jpeg")
                h3.portfolio-item__title Загородный дом в Можайске
                span.portfolio-item__area 150 м²