section.portfolio#portfolio
    .portfolio__container.container
        h2.title-section.portfolio__title Портфолио

        .portfolio__list
            a.portfolio__item.portfolio-item(href="##")
                img.portfolio-item__img(src="./assets/img/portfolio-main/01.jpg")
                h3.portfolio-item__title ЖК Nagatino i-Land
                span.portfolio-item__area 81 м²

            a.portfolio__item.portfolio-item(href="zhk-now.html")
                img.portfolio-item__img(src="./assets/img/portfolio-main/02.jpg")
                h3.portfolio-item__title ЖК Now
                span.portfolio-item__area 41 м²

            a.portfolio__item.portfolio-item(href="##")
                img.portfolio-item__img(src="./assets/img/portfolio-main/03.jpg")
                h3.portfolio-item__title САМПО
                span.portfolio-item__area 61 м²

            a.portfolio__item.portfolio-item(href="##")
                img.portfolio-item__img(src="./assets/img/portfolio-main/04.jpg")
                h3.portfolio-item__title Загородный дом в Можайске
                span.portfolio-item__area 150 м²