section.portfolio-main
    .portfolio-main__container.container

        h2.title-section Портфолио

        .portfolio-main__list

            a.portfolio-main__item.portfolio-main-item(href="##" data-aos="fade-up" data-aos-delay="100")
                h2.title-section.portfolio-main__title Портфолио
                img.portfolio-main-item__img(src="./assets/img/portfolio-main/01.jpg")
                h3.portfolio-main-item__title ЖК Nagatino i-Land
                span.portfolio-main-item__area 81 м²

            a.portfolio-main__item.portfolio-main-item(href="zhk-now.html" data-aos="fade-up" data-aos-delay="200")
                img.portfolio-main-item__img(src="./assets/img/portfolio-main/02.jpg")
                h3.portfolio-main-item__title ЖК Now
                span.portfolio-main-item__area 41 м²

            a.portfolio-main__item.portfolio-main-item(href="sampo.html" data-aos="fade-up" data-aos-delay="100")
                img.portfolio-main-item__img(src="./assets/img/portfolio-main/03.jpg")
                h3.portfolio-main-item__title САМПО
                span.portfolio-main-item__area 61 м²

            a.portfolio-main__item.portfolio-main-item(href="zhk-scandinavia.html" data-aos="fade-up" data-aos-delay="200")
                img.portfolio-main-item__img(src="./assets/img/portfolio-main/01.jpg")
                h3.portfolio-main-item__title ЖК Скандинавия*
                span.portfolio-main-item__area 85 м²

            a.portfolio-main__item.portfolio-main-item(href="zhk-scandinavia-2.html" data-aos="fade-up" data-aos-delay="100")
                img.portfolio-main-item__img(src="./assets/img/portfolio-main/02.jpg")
                h3.portfolio-main-item__title ЖК Скандинавия 2*
                span.portfolio-main-item__area 97 м²

            a.portfolio-main__item.portfolio-main-item(href="country-house-in-mozhaisk.html" data-aos="fade-up" data-aos-delay="200")
                img.portfolio-main-item__img(src="./assets/img/portfolio-main/06.jpg")
                h3.portfolio-main-item__title Загородный дом в Можайске
                span.portfolio-main-item__area 97 м²

            a.portfolio-main__item.portfolio-main-item(href="st-bakhrushin.html" data-aos="fade-up" data-aos-delay="100")
                img.portfolio-main-item__img(src="./assets/img/portfolio-main/01.jpg")
                h3.portfolio-main-item__title Улица Бахрушина*
                span.portfolio-main-item__area 130 м²