footer.footer#footer
    article.footer__top.instagram-feed
        h2.title-section.container.instagram-feed__title Инстаграм*
        .instagram-feed__list

            section.instagram-feed__marquee
                p.instagram-feed__marquee-item @ZAB_DESIGN @ZAB_DESIGN @ZAB_DESIGN @ZAB_DESIGN @ZAB_DESIGN @ZAB_DESIGN @ZAB_DESIGN @ZAB_DESIGN @ZAB_DESIGN


            a.instagram-feed__link(href='https://www.instagram.com/zab_design' target="_blank")
                img(src='./assets/img/footer/01.jpg')
            a.instagram-feed__link(href='https://www.instagram.com/zab_design' target="_blank")
                img(src='./assets/img/footer/02.jpg')
            a.instagram-feed__link(href='https://www.instagram.com/zab_design' target="_blank")
                img(src='./assets/img/footer/03.jpg')
            a.instagram-feed__link(href='https://www.instagram.com/zab_design' target="_blank")
                img(src='./assets/img/footer/05.jpg')
            a.instagram-feed__link(href='https://www.instagram.com/zab_design' target="_blank")
                img(src='./assets/img/footer/04.jpg')


    .footer__container.container

        a.footer__contacts.footer__contacts--email(href='mailto: zab_design@mail.ru') Zab_design@mail.ru
        a.footer__contacts.footer__contacts--tel(href='tel:+790163600666') +7 (901) 636-00-66

        include ../../img/icons/logo-dark.svg
        p.footer__footnote *Instagram — проект Meta Platforms Inc., <br> деятельность которой в России запрещена
        .footer__policy
            span ©2024
            a(href='##', download) Политика обработки персональных данных
        .footer__authors
            div
                | Designed by &nbsp;
                a(href='https://t.me/str8zh1' target="_blank") @str8zh1
            div
                | Development by &nbsp;
                a(href='https://t.me/sinceresv' target="_blank") @sinceresv


include ../loader/loader