footer.footer
    article.footer__top.instagram-feed
        h2.title-section.container.instagram-feed__title Инстаграм*
        .instagram-feed__list

            section.instagram-feed__marquee
                p.instagram-feed__marquee-item @ZAB_DESIGN @ZAB_DESIGN @ZAB_DESIGN @ZAB_DESIGN @ZAB_DESIGN @ZAB_DESIGN @ZAB_DESIGN @ZAB_DESIGN @ZAB_DESIGN


            a.instagram-feed__link(href='##')
                img(src='https://mykaleidoscope.ru/uploads/posts/2020-02/1582548150_10-p-stilnie-sovremennie-intereri-26.jpg')
            a.instagram-feed__link(href='##')
                img(src='https://proreiling.ru/wp-content/uploads/3/6/0/3607b49db76af0f8a59e6154fe60bb66.jpeg')
            a.instagram-feed__link(href='##')
                img(src='https://mykaleidoscope.ru/uploads/posts/2020-02/1582548231_56-p-stilnie-sovremennie-intereri-90.jpg')
            a.instagram-feed__link(href='##')
                img(src='https://amk-stroy.su/wp-content/uploads/2020/01/361871.png')
            a.instagram-feed__link(href='##')
                img(src='https://mykaleidoscope.ru/uploads/posts/2020-03/1583757807_35-p-sovremennie-intereri-v-stile-modern-63.jpg')


    .footer__container.container
        address.footer__contacts
            a(href='mailto: zab_design@mail.ru') Zab_design@mail.ru
            a(href='tel:+790163600666') +7 (901) 636-00-66
        nav.footer__nav
            a(href='##') Главная
            a(href='##') Обо мне
            a(href='##') Услуги
            a(href='##') Портфолио
            a(href='##') Этапы работы
            a(href='##') Гарантии
            a(href='##') Faq
        img.footer__logo(src='./assets/img/icons/dark-logo.svg', alt='logo')
        p.footer__footnote *Instagram — проект Meta Platforms Inc., <br> деятельность которой в России запрещена
        .footer__policy
            span ©2024
            a(href='##', download) Политика конфиденциальности
            a(href='##', download) Политика обработки персональных данных
        .footer__authors
            div
                | Designed by
                a(href='##') @str8zh1
            div
                | Development by
                a(href='##') @sinceresv