section.services#services
    .services__container.container
        h2.title-section Услуги

        .services__types.types

            .types__item.types-item
                h3.title-section.types-item__title Полный проект

                ul.types-item__list
                    ul
                        li.types-item__item Обмерный план
                        li.types-item__item Планировочное решение <br> (3 варианта)
                        li.types-item__item План демонтаж/монтаж
                        li.types-item__item План систем вентиляции <br> и кондиционирования
                        li.types-item__item План сантехнических <br> предметов

                    ul
                        li.types-item__item План электрики
                        li.types-item__item План напольных покрытий
                        li.types-item__item План стен
                        li.types-item__item План потолка
                        li.types-item__item Развертки всех помещений
                        li.types-item__item Ведомости чистовых <br> материалов, сантехники, <br> освещения и мебели

                    ul
                        li.types-item__item Визуализации
                        li.types-item__item Чертежи заказной, <br> корпусной мебели
                        li.types-item__item Выезды по магазинам для <br> подбора нужных товаров
                        li.types-item__item Подбор текстиля после <br> ремонтных работ

                +button("Заказать", "outline", "js-popup-open")

            .types__item.types-item
                h3.title-section.types-item__title Стандартный технический
                ul.types-item__list

                    ul
                        li.types-item__item Обмерный план
                        li.types-item__item Планировочное решение <br> (3 варианта)
                        li.types-item__item План демонтаж/монтаж
                        li.types-item__item План систем вентиляции <br> и кондиционирования
                        li.types-item__item План сантехнических <br> предметов

                    ul
                        li.types-item__item План электрики
                        li.types-item__item План напольных покрытий
                        li.types-item__item План стен
                        li.types-item__item План потолка

                +button("Заказать", "outline", "js-popup-open")

            .types__item.types-item
                h3.title-section.types-item__title Концептуальный
                ul.types-item__list
                    ul
                        li.types-item__item Обмерный план
                        li.types-item__item Планировочное решение <br> (3 варианта)
                        li.types-item__item Визуализации
                        li.types-item__item План систем вентиляции <br> и кондиционирования
                        li.types-item__item Ссылки на материалы, сантехнику, <br> освещение и мебель
                +button("Заказать", "outline", "js-popup-open")

            +button("Рассчитать стоимость", "outline", "js-quiz-open")






