section.stages#stages
    .stages__container.container
        h2.title-section.stages__title Этапы работ

        .stages__body
            ul.stages__list
                li.stages__item(data-stage="1") Составление брифа <br> и технического задания
                li.stages__item(data-stage="2") 3D визуализация <br> планировочного <br> решения
                li.stages__item(data-stage="3") Разработка чертежей
                li.stages__item(data-stage="4") Строительные работы
                li.stages__item(data-stage="5") Комплектация

            .stages__image-wrapper
                img(src="https://www.imoti-inn.com/uploads/images/paragraphs/thumbs/thumb_block_3_4c3h1o8s9w.jpg" data-stage="1")
                //img(src="https://st.hzcdn.com/fimgs/pictures/gostinye-komnaty/respektabelynyy-palisandr-kvartira-v-sarove-volydemar-derevenets-img~1a414c9807e10fad_2085-1-79aa890-w320-h320-b1-p10.jpg" data-stage="1")
                //img(src="https://i.pinimg.com/236x/5e/09/e3/5e09e3fe1ec06041c4ff8cd9b406d4e4.jpg" data-stage="1")
                //img(src="https://i.pinimg.com/736x/11/be/6c/11be6c989e667eac191787879171b236--apartment-interior-interior-walls.jpg" data-stage="1")
                //img(src="https://st.hzcdn.com/simgs/pictures/family-rooms/rockstar-retreat-klondike-contracting-img~77716a320b140723_3-9437-1-296015e.jpg" data-stage="1")