section.stages#stages
    .stages__container.container
        h2.title-section.stages__title Этапы работ

        .stages__body
            ul.stages__list
                li.stages__item(data-stage="1") Составление брифа <br> и технического задания
                li.stages__item(data-stage="2") 3D визуализация <br> планировочного <br> решения
                li.stages__item(data-stage="3") Разработка чертежей
                li.stages__item(data-stage="4") Строительные работы
                li.stages__item(data-stage="5") Комплектация

            .stages__image-wrapper
                img.js-stages-scroll( src="./assets/img/stages/01.jpg")
                img(src="./assets/img/stages/02.jpg")
                img(src="./assets/img/stages/03.jpg")
                img(src="./assets/img/stages/04.jpg")
                img(src="./assets/img/stages/05.jpg")