section.portfolio-gallery
    .portfolio-gallery__container.container

        .portfolio-gallery__list

            article.portfolio-gallery__article
                img(src="./assets/img/portfolio-inner/zhk-now/01.jpg")
                img(src="./assets/img/portfolio-inner/zhk-now/02.jpg")

            article.portfolio-gallery__article
                img(src="./assets/img/portfolio-inner/zhk-now/03.jpg")
                img(src="./assets/img/portfolio-inner/zhk-now/04.jpg")
                img(src="./assets/img/portfolio-inner/zhk-now/05.jpg")

            article.portfolio-gallery__article
                img(src="./assets/img/portfolio-inner/zhk-now/06.jpg")
                img(src="./assets/img/portfolio-inner/zhk-now/07.jpg")

            article.portfolio-gallery__article
                img(src="./assets/img/portfolio-inner/zhk-now/08.jpg")
                img(src="./assets/img/portfolio-inner/zhk-now/09.jpg")