//section.others
//    .others__container.container
//
//        h2.title-section Другие проекты
//
//        .others__list
//
//            a.others__item.others-item(href="zhk-now.html")
//                picture
//                    source(srcset="./assets/img/portfolio-main/mobile/02.jpg" media="(max-width: 767px)")
//                    img.others-item__img(src="./assets/img/portfolio-main/desktop/02.jpg")
//                h3.others-item__title ЖК Now
//                span.others-item__area 41 м²
//
//            a.others__item.others-item(href="zhk-now.html")
//                picture
//                    source(srcset="./assets/img/portfolio-main/mobile/02.jpg" media="(max-width: 767px)")
//                    img.others-item__img(src="./assets/img/portfolio-main/desktop/02.jpg")
//                h3.others-item__title ЖК Now
//                span.others-item__area 41 м²
//
//            a.others__item.others-item(href="zhk-now.html")
//                picture
//                    source(srcset="./assets/img/portfolio-main/mobile/02.jpg" media="(max-width: 767px)")
//                    img.others-item__img(src="./assets/img/portfolio-main/desktop/02.jpg")
//                h3.others-item__title ЖК Now
//                span.others-item__area 41 м²