extends ../layouts/main

block variables
  - var title = ""

block content
    include ../blocks/portfolio-inner/portfolio-hero/country-house-in-mozhaisk
    include ../blocks/portfolio-inner/portfolio-gallery/country-house-in-mozhaisk