extends ../layouts/main

block variables
    - var title = "Евгения Заболоцкая | Дизайн интерьера"

block content
    include ../blocks/hero/hero
    include ../blocks/about/about
    include ../blocks/guarantees/guarantees
    include ../blocks/portfolio/portfolio
    include ../blocks/stages/stages
    include ../blocks/services/services
    include ../blocks/faq/faq