extends ../layouts/main

block variables
  - var title = ""

block content
    include ../blocks/portfolio-inner/portfolio-hero/st-bakhrushin
    include ../blocks/portfolio-inner/portfolio-gallery/st-bakhrushin