extends ../layouts/main

block variables
  - var title = ""

block content
    include ../blocks/portfolio-inner/portfolio-hero/zhk-scandinavia-2
    include ../blocks/portfolio-inner/portfolio-gallery/zhk-scandinavia-2