extends ../layouts/noMain

block variables
  - var title = "Евгения Заболоцкая | ЖК Скандинавия 2"

block content
    include ../blocks/portfolio-inner/portfolio-hero/zhk-scandinavia-2
    include ../blocks/portfolio-inner/portfolio-gallery/zhk-scandinavia-2


    section.others
        .others__container.container

            h2.title-section Другие проекты

            .others__list

                a.others__item.others-item(href="country-house-in-mozhaisk.html")
                    picture
                        source(srcset="./assets/img/portfolio-main/mobile/06.jpg" media="(max-width: 767px)")
                        img.others-item__img(src="./assets/img/portfolio-main/desktop/06.jpg")
                    h3.others-item__title Загородный дом в Можайске
                    span.others-item__area 97 м²


                a.others__item.others-item(href="st-bakhrushin.html")
                    picture
                        source(srcset="./assets/img/portfolio-main/mobile/07.jpg" media="(max-width: 767px)")
                        img.others-item__img(src="./assets/img/portfolio-main/desktop/07.jpg")
                    h3.others-item__title Улица Бахрушина
                    span.others-item__area 130 м²


                a.others__item.others-item(href="zhk-nagatino-i-land.html")
                    picture
                        source(srcset="./assets/img/portfolio-main/mobile/01.jpg" media="(max-width: 767px)")
                        img.others-item__img(src="./assets/img/portfolio-main/desktop/01.jpg")
                    h3.others-item__title ЖК Nagatino i-Land
                    span.others-item__area 81 м²