extends ../layouts/main

block variables
  - var title = ""

block content
    include ../blocks/portfolio-inner/portfolio-hero/zhk-nagatino-i-land
    include ../blocks/portfolio-inner/portfolio-gallery/zhk-nagatino-i-land

    section.others
        .others__container.container

            h2.title-section Другие проекты

            .others__list

                a.others__item.others-item(href="zhk-now.html")
                    picture
                        source(srcset="./assets/img/portfolio-main/mobile/02.jpg" media="(max-width: 767px)")
                        img.others-item__img(src="./assets/img/portfolio-main/desktop/02.jpg")
                    h3.others-item__title ЖК Now
                    span.others-item__area 41 м²

                a.others__item.others-item(href="sampo.html")
                    picture
                        source(srcset="./assets/img/portfolio-main/mobile/03.jpg" media="(max-width: 767px)")
                        img.others-item__img(src="./assets/img/portfolio-main/desktop/03.jpg")
                    h3.others-item__title САМПО
                    span.others-item__area 61 м²

                a.others__item.others-item(href="zhk-scandinavia.html")
                    picture
                        source(srcset="./assets/img/portfolio-main/mobile/04.jpg" media="(max-width: 767px)")
                        img.others-item__img(src="./assets/img/portfolio-main/desktop/04.jpg")
                    h3.others-item__title ЖК Скандинавия
                    span.others-item__area 85 м²


