extends ../layouts/main

block variables
  - var title = ""

block content
    include ../blocks/portfolio-inner/portfolio-hero/zhk-nagatino-i-land
    include ../blocks/portfolio-inner/portfolio-gallery/zhk-nagatino-i-land