header.header
    .container.header__container
        a.header__logo(href='index.html')
            include ../../img/icons/logo-light.svg

        nav.header__nav.header-nav
            ul.header-nav__list
                li.header-nav__item
                    a.header-nav__link(href='/#about') Обо мне
                li.header-nav__item
                    a.header-nav__link(href='/#guarantees') Гарантии
                li.header-nav__item
                    a.header-nav__link(href='/#portfolio') Портфолио
                li.header-nav__item
                    a.header-nav__link(href='/#stages') Этапы работы
                li.header-nav__item
                    a.header-nav__link(href='/#services') Услуги
                li.header-nav__item
                    a.header-nav__link(href='/#faq') Faq
                li.header-nav__item
                    a.header-nav__link(href='/#contacts') Контакты

        button(type="button").header__burger
            span.header__burger-line.header__burger-line-1
            span.header__burger-line.header__burger-line-2
            span.header__burger-line.header__burger-line-3