header.header
    .container.header__container
        a.header__logo(href='/')
            img(src='./assets/img/icons/logo.svg', alt='Logo')

        nav.header__nav.header-nav
            ul.header-nav__list
                li.header-nav__item
                    a.header-nav__link(href='##') Обо мне
                li.header-nav__item
                    a.header-nav__link(href='##') Гарантии
                li.header-nav__item
                    a.header-nav__link(href='##') Портфолио
                li.header-nav__item
                    a.header-nav__link(href='##') Этапы работы
                li.header-nav__item
                    a.header-nav__link(href='##') Услуги
                li.header-nav__item
                    a.header-nav__link(href='##') Faq
                li.header-nav__item
                    a.header-nav__link(href='##') Контакты

        button(type="button").header__burger
            span.header__burger-line.header__burger-line-1
            span.header__burger-line.header__burger-line-2
            span.header__burger-line.header__burger-line-3