dialog.popup#popup
    button.popup__close
        include ../../img/icons/close.svg

    .popup__wrapper
        .popup__img
            img(src='./assets/img/popup.jpg')

        +form("Удобный способ связи", "Заказать консультацию")